<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wilkommen</title>

</head>

<body>
    <h1>Wilkommen</h1>
    

  <form action="/" method="GET">
        <input type="text" name="meetingCode" id="meetingCode" placeholder="Enter Meeting ID">
        <button type="submit">Join Meeting</button>
    </form> <br><br>
    <button><a href="/">Create Meeting</a></button>
    
    
    
</body>
</html>